body {
    background-color: #1A1915;
    font-family: 'Share Tech Mono', monospace;
    overflow-y: scroll;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}

li, .next {
    cursor: url('../images/saber.png'), auto;

}

hr {
    border: 0;
    height: 1px;
    background: #F0E721;
    background-image: -webkit-linear-gradient(left, #1A1915, #F0E721, #1A1915);
}

.swLogo {
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 10em;
    width: 100em;
}

.gridSetup {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    color: #F0E721;
}

.menu {
    font-size: 1.5em;
    text-align: right;
    list-style-type: none;
}

.content {
    padding: 0 1em;
}

.panel {
    margin: 10px 0;
    padding: 0 18px;
    background-color: 1A1915;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    cursor: url('../images/saber.png'), auto;
    border-radius: 25px;
    border: 1px solid #F0E721;
}

.accordion {
    background-color: #1A1915;
    color: #3D8DC1;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.7em;
    transition: 0.4s;
    cursor: url('../images/saber.png'), auto;
    font-family: 'Share Tech Mono', monospace;
    border-radius: 25px;
    border: 1px solid #1A1915;
}

.active, .accordion:hover {
    background-color: #393939;
}

footer {
    height: 5em;
    font-size: 1.5em;
    color: #F0E721;
    text-align: center;
}

.hidden {
    display: none;
}